<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression suite" parallel="true" thread-count="2">
    <test name="somkeTest">
        <classes>
            <class name="tests.TutorialVerify"></class>
<!--            <class name="tests.WorkBenchLogin"></class>-->
<!--            <class name="tests.WorkBenchLogin2"></class>-->
<!--            <class name="tests.demandCentral"></class>-->
        </classes>
    </test>
</suite>